@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}



/*   ESTILOS APLICADO AL NAVBAR */

#Logo{
    width: 150px;
    height: 120px;
    margin-top: 9px;
    object-fit: cover;
    overflow: hidden;
   

}
.settings-navbar{
    text-align: center;    
}

.conatainer-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
}

.profilePhoto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
}
.NavBar{
    background-color: white !important;
    width: 100% !important;
    height: 130px !important;
    color: black !important;
        
    
}


.link{
    text-decoration: none;
    color: black;
    margin-right: 0.5rem;
    font-family: 'Montserrat', sans-serif;

}

.logOut{
    margin-top: 1rem;
}



/********************************/
/*   ESTILOS APLICADOS AL HOME */

.Home{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/********************************/
/*   ESTILOS APLICADOS AL HERO */


.Hero{
    width: 100% !important;
    text-align: center !important;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.TextHero{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    padding: 0 1rem;
    font-size: 2rem;    
}

.TextHero h1{
    font-size: 3rem;
}


/********************************/

/*   ESTILOS APLICADOS AL CALL TO ACTION */

.callToAction{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    padding-bottom: 2rem;

}
.callToAction p{
    font-size: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
#Travel{
    width: 30%;
    object-fit: cover;
}
/********************************/

/*   ESTILOS APLICADOS AL CARROUSEL */

.carrousel{
    background-image: url(../public/images/hero3.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 600px;
    font-family: 'Montserrat', sans-serif !important;
}
.carrousel h2{
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-weight: 400;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
    height: 450px;
    min-width: 100px;
    font-family: 'Montserrat', sans-serif !important;
    border: 0.5px solid #20c997 ;
}



.cardsButton{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif !important;
    
}

/********************************/




/*   ESTILOS APLICADOS A CITIES */

.cities{
    background-image: url(../public/images/hero5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cities h2{
    width: 80%;
    padding-top: 200px;
    text-align: center;
    color: #20c997;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.72)
    ;
}

.containerInput{
    position: relative;
    
}

.inputSearch{
    top: 10%;
    margin: 10px 5%;
    color: white !important;
    max-height: 30px;
    
}

#noresults{
    position: relative;
  
    min-width: 300px;
    overflow: visible;
    margin: 0 5%;
    border-radius: 0.2em;
    
}


/* From cssbuttons.io by @adamgiebl */
button {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   /* ESTILOS APLICADOS A DETAILS */

   .details{
       background-image: url('../public/images/hero3.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       min-height: auto;
       width: 95%;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       justify-content: space-evenly;
       text-align: center;
       flex-wrap: wrap;
       
   }
   .itinerariesArea{
       background-color: aliceblue;
       border-radius: 1rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       min-height: 300px;
       max-height: auto;
       width: 310px;
       margin: 180px 30px 30px 30px;
       object-fit: contain;
       
       
   }

   .itinerariesSuperior{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
    
   }
   

   .imgUser{
       width: 100%;
       height: 300px;
       object-fit: cover;
       border-top: 1rem;
   }

   .noresults{
       margin-top: 300px;
   }

   .accordionHeader{
       margin-left: auto;
       margin-right: auto;

   }

   .accordionHeader h6{
       font-size: 20px;
   }

   .likes{
       display: flex;
       width: 100%;
       justify-content: center;
       padding: 1rem;

   }

   .likes span{
       margin-right: 2%;
   }
   


    /*ESTILOS APLICADOS A ACTIVITIES */

    .activityImage{
        width: 260px;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
    }

/********************************/
   /* ESTILOS APLICADOS A COMMENTS */

   .cardComments{
    width:100% !important;
    height: auto !important;
    min-height: fit-content !important;
    background-color: rgb(210, 230, 241) !important;
}
.textComments{
    width: 100% !important;
    resize: none;
    overflow: hidden;
    text-align: initial; 
}
.textComments:focus-visible{
    outline-color:  rgb(6, 101, 114) !important;
    color: black;
    box-shadow:
      0 0 5px rgb(6, 101, 114),
      0 0 10px rgb(6, 101, 114),
      0 0 20px rgb(6, 101, 114),
      0 0 40px rgb(6, 101, 114),
      0 0 60px rgb(6, 101, 114);
    
      
}

.textDetail{
    margin: 0;
    text-align: initial;
}
.cardHeader{
    text-align: center;
    background-color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardHeader p{
   text-align: center;
   z-index: 20;
   margin: 0;
   padding: 1rem 0;
   color: #fff;
}
.cardHeaderNew{
    background-color: rgb(75, 73, 73) !important;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}
.cardText{
    text-align: initial;
    
}
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: rgb(78, 76, 76);
  }
.btnComments{
    margin: 10px !important;
    font-size: 1.2rem;
    transition: 0.3s all !important;
    font-family:"Comic Sans MS" ;
    background-color: black;
    border: 0;
    width: 50%;
}
.btnComments:hover{
    background-color: black !important;
    color: white !important;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
    
  }
  .btnComments:focus{
    background-color: black !important;
    color: white !important;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
    
  }

   /*ESTILOS APLICADOS AL SIGNUP */


.to-sign{
    background-color: dimgrey;
    color: white;
    padding: 1rem;
    width: 200px;
    height: 80px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contenedorform{

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/images/hero1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 8rem;

}

.gris {
    border: 1px solid #ec9b59e7;
}
  
.crearcuenta {
    width: 100%;
    border-radius: 200px;
    border: none;
    background-color: black;
    color: white;
}
  
.crearcuenta:hover {
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}
.inputForm{
    padding: 0.5em;
    background-color: white;
    border-radius: 0.2em;
    min-width: 300px;
}