*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

/*   ESTILOS APLICADO AL NAVBAR */

.NavBar{
    background-color: blanchedalmond !important;
    width: 100% !important;
    height: 120px !important;
    color: black !important;
}

.NavBar button{
    color: black !important;
}

/********************************/
/*   ESTILOS APLICADOS AL HOME */

.Home{
    display: flex;
    flex-direction: column;
}

/********************************/
/*   ESTILOS APLICADOS AL HERO */

.Hero{
    text-align: center !important;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.TextHero{
    position: absolute;    
}


/********************************/

/*   ESTILOS APLICADOS AL CALL TO ACTION */

.callToAction{
    background-color: blue;

}

